* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #1F1F1F;
    color: #ffff;
}

h1 {
    background-color: #f0ecec;
    color: #1F1F1F;
    height: 10vh;
    line-height: 5vw;
}

.choices {
    display: flex;
    margin-top: 3vw;
    gap: 5vw;
    justify-content: center;
}

.choice {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover {

    scale: 1.1;
    cursor: pointer;
    background-color: #ffff;

}

img {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {

    background-color: #ffff;
    color: #1F1F1F;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}